* {
  box-sizing: border-box;
  outline-color: currentColor;
  outline-offset: 2px;

  &:focus, &:focus-visible {
    outline-width: 2px;
  }
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover, &:focus {
    text-decoration: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;

  caption {
    padding-block: 2rem;
    padding-inline: 1rem;

    h1 {
      margin: 0;
      padding: 0;
      font-size: 1.25rem;
      font-weight: 900;
      text-wrap: pretty;
    }
  }

  tbody {
    font-family: monospace;

    th, td {
      padding-block: .5rem;
      padding-inline: 1rem;
      font-size: .75rem;
    }

    td {
      word-break: break-all;
      font-weight: 300;
    }
  }

  tfoot {
    td {
      padding-block: 2rem;
      padding-inline: 1rem;

      div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: .875rem;
        font-weight: 700;
      }
    }
  }
}

tr {
  flex-direction: column;

  @media (max-width: 39.9375rem) {
    display: flex;
  }
}

th, td {
  border-color: #ddd;

  @media (min-width: 40rem) {
    border-width: 1px;
    border-style: solid;
  }

  @media (prefers-color-scheme: dark) {
    border-color: #333;
  }
}

th {
  background-color: #eee;
  text-align: left;

  @media (prefers-color-scheme: dark) {
    background-color: #222;
  }
}
